<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<body>

<div class="container-fluid">
    <header th:replace="~{fragment/header :: header}"></header>
    <main class="app-main">

        <h1 class="text-center text-white">Items</h1>
        <hr class="hr-2 bg-white w-25">

        <div class="container-fluid" th:if="${items.isEmpty()}">
            <h2 class="text-white text-center">No items added to the project yet!</h2>
        </div>

        <div class="container-fluid text-center text-white w-50" th:unless="${items.isEmpty()}">
            <div class="row">
                <div class="col-sm">
                    <h4><u>name</u></h4>
                </div>
                <div class="col-sm">
                    <h4><u>price</u></h4>
                </div>
                <div class="col-sm">
                    <h4><u>vat value</u></h4>
                </div>
                <div class="col-sm">
                    <h4><u>action</u></h4>
                </div>
            </div>
            <div class="row align-items-center" th:each="item, iter : ${#lists.sort(items, comparator)}">
                <div class="col-sm">
                    <h5 th:text="${item.name}">name</h5>
                </div>
                <div class="col-sm">
                    <h5 th:text="${item.price}">price</h5>
                </div>
                <div class="col-sm">
                    <h5 th:text="|${T(bg.softuni.invoice.model.enumerated.VatValue).valueOf(item.vatValue).getValue()}%|">vatValue</h5>
                </div>
                <div class="col-sm">
                    <a th:href="@{/item/details/{id}(id=${item.id})}"
                       class="btn btn-secondary btn-block border-white font-weight-bold text-white mb-2 mt-2 ml-2 mr-2">Details</a>
                </div>
            </div>
        </div>

    </main>
    <footer th:replace="~{fragment/footer :: footer}"></footer>
</div>

</body>
</html>