<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head"></head>
<body>

<div class="container-fluid">
    <header th:replace="fragment/header :: header"></header>
    <main class="app-main">

        <h1 class="text-center text-white">Add company</h1>
        <hr class="hr-2 bg-white w-25">
        <form class="form w-25 mx-auto" th:action="@{/company/add}" th:method="post"
              th:object="${companyAddBindingModel}">

            <div class="form-group">
                <label for="name" class="text-white d-flex justify-content-end font-italic">name</label>
                <input th:field="*{name}" th:errorclass="bg-warning" type="text"
                       class="form-control w-100" id="name" placeholder="name ..." name="name"
                       data-toggle="popover" data-content="must be at least 3 characters">
                <ul class="list-unstyled">
                    <li class="text-white" th:each="error:${#fields.errors('name')}">
                        <small th:text="${error}"></small>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="address" class="text-white d-flex justify-content-end font-italic">address</label>
                <input th:field="*{address}" th:errorclass="bg-warning" type="text"
                       class="form-control w-100" id="address" placeholder="address ..." name="address"
                       data-toggle="popover" data-content="must be at least 3 characters">
                <ul class="list-unstyled">
                    <li class="text-white" th:each="error:${#fields.errors('address')}">
                        <small th:text="${error}"></small>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label for="uniqueIdentifier" class="text-white d-flex justify-content-end font-italic">unique
                    identifier</label>
                <input th:field="*{uniqueIdentifier}" th:errorclass="bg-warning" type="text"
                       class="form-control w-100" id="uniqueIdentifier" placeholder="unique identifier ..."
                       name="uniqueIdentifier" data-toggle="popover"
                       data-content="must be 9 or 13 digits">
                <ul class="list-unstyled">
                    <li class="text-white" th:each="error:${#fields.errors('uniqueIdentifier')}">
                        <small th:text="${error}"></small>
                    </li>
                </ul>
            </div>

            <hr class="hr-2 bg-white">

            <div class="button-holder d-flex justify-content-center">
                <button class="btn btn-info text-white border-white mb-3 btn-block font-weight-bolder font-italic"
                        type="submit">Add
                </button>
            </div>
        </form>
    </main>
    <footer th:replace="fragment/footer :: footer"></footer>
</div>

</body>
</html>