<header th:fragment="header" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top app-color">
        <h5 sec:authorize="isAuthenticated()" class="text-white">
<!--            <form th:action="@{/invoice/all}" th:method="get">-->
                <a class="logout-button h5 text-white" type="submit"
                        th:text="|Welcome, ${#authentication.name}|" href="/invoice/all">Invoice
                </a>
<!--            </form>-->
        </h5>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div sec:authorize="isAnonymous()" class="collapse navbar-collapse justify-content-end" id="navbarAnonymous">
            <ul class="navbar-nav navbar-brand">
                <li class="nav-item ml-3">
                    <a class="nav-link active h5" href="/user/register">Register</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link active h5" href="/user/login">Login</a>
                </li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated() && #session.id != null"
             class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav navbar-brand">
                <li class="nav-item dropdown ml-3"
                    sec:authorize="hasRole(T(bg.softuni.invoice.model.enumerated.RoleType).ADMIN)">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="nav-link dropdown-toggle active h5"
                       data-toggle="dropdown" href="#"
                       id="navbarAdd" role="button">Add</a>
                    <div aria-labelledby="navbarAdd" class="dropdown-menu">
                        <a class="dropdown-item" href="/company/add">Company</a>
                        <a class="dropdown-item" href="/item/add">Item</a>
                    </div>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active h5"
                       data-toggle="dropdown" href="#" id="navbarData" role="button">List</a>
                    <div aria-labelledby="navbarData" class="dropdown-menu">
                        <a class="dropdown-item" href="/company/all">Companies</a>
                        <a class="dropdown-item" href="/item/all">Items</a>
                    </div>
                </li>
                <li class="nav-item dropdown ml-3"
                    sec:authorize="hasRole(T(bg.softuni.invoice.model.enumerated.RoleType).ROOT)">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="nav-link dropdown-toggle active h5"
                       data-toggle="dropdown" href="#"
                       id="navbarRoot" role="button">Administration</a>
                    <div aria-labelledby="navbarRoot" class="dropdown-menu">
                        <a class="dropdown-item" href="/user/all">Users</a>
                        <a class="dropdown-item" href="/log/all">Logs</a>
                    </div>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link active h5" th:href="@{/storage/details}">
                        Storage
                        <span class="badge badge-light"
                              th:if="${#session.getAttribute('cart') != null && #session.getAttribute('cart').size() > 0}"
                              th:text="${#session.getAttribute('cart').size()}"></span>
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link active h5"
                       th:href="@{/user/profile/{id}(id = *{#authentication.principal.id})}">Profile</a>
                </li>
                <li class="nav-item ml-3 d-flex">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="logout-button nav-link active h5" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <hr class="my-0"/>
</header>