body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-control {
    text-align: center;
    width: auto;
    margin: auto;
}

.logout-button {
    background: transparent;
    border: none;
    padding: 8px 0;
    width: 100%;
    text-align: left;
}

.app-main {
    margin-bottom: 1.75rem;
    text-align: center;
}

.card {
    background-color: rgba(245, 245, 245, 0.2);
}

.card-body, .card-footer {
    opacity: 1;
    padding: 1.25rem;
}

.data {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.data td, .data th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data tr:nth-child(even) {
    background-color: transparent;
}

.data th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #17A2B8;
}

table button {
    padding: 5px;
    border-radius: 3px;
    color: #17A2B8;
    font-weight: bold;
}

button.status-btn{
    color: darkred;
}

