body {
    background-image: url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-control {
    text-align: center;
    width: auto;
    margin: auto;
}

.logout-button {
    background: transparent;
    border: none;
    padding: 8px 0;
    width: 100%;
    text-align: left;
}

.app-main {
    margin-bottom: 1.75rem;
    text-align: center;
}

.card {
    background-color: rgba(245, 245, 245, 0.2);
}

.card-body, .card-footer {
    opacity: 1;
    padding: 1.25rem;
}

.invoices {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
    color: white;
    text-align: center;
}

.invoices td, .invoices th {
    border: 1px solid #ddd;
    padding: 8px;
}

.invoices tr:nth-child(even) {
    background-color: transparent;
}

.invoices tr:hover {
    background-color: #ddd;
}

.invoices th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #17A2B8;
    color: white;
}

table button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 8%;
    background: transparent;
    color: white;
    font-weight: bold;
}

table button:hover {
    text-decoration: underline;
}

table button#status-btn{
    border: 2px;
    color: red;
}

