<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div class="container-fluid">
    <header th:replace="fragments/header :: header"></header>
    <main class="app-main">

        <h1 class="text-white text-center">Welcome</h1>
        <h2 class="text-white text-center">final web project</h2>
        <hr class="hr-2 bg-white w-25">
        <h3 class="text-white text-center"><a class="text-info" th:href="@{/user/login}">Login</a> if you have an
            account or
            <a class="text-info" th:href="@{/user/register}">Register</a> now and find out our offers.
        </h3>

    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

</body>
</html>